In [7]:
! pip install pandas pymongo python-dotenv

Requirement already satisfied: pandas in c:\users\hp\venv\lib\site-packages (2.3.3)
Requirement already satisfied: pymongo in c:\users\hp\venv\lib\site-packages (4.16.0)
Requirement already satisfied: python-dotenv in c:\users\hp\venv\lib\site-packages (1.2.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\venv\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: dnspython<3.0.0,>=2.6.1 in c:\users\hp\venv\lib\site-packages (from pymongo) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
# 01_data_overview.ipynb

import os
import pandas as pd
from pymongo import MongoClient
from dotenv import load_dotenv

load_dotenv()

MONGO_URI = os.getenv("MONGODB_URI")
DB_NAME = os.getenv("MONGODB_DB")
COLLECTION = os.getenv("MONGODB_COLLECTION")

client = MongoClient(MONGO_URI)
df = pd.DataFrame(list(client[DB_NAME][COLLECTION].find()))

print("Shape:", df.shape)
df.head()

Shape: (698, 19)

,_id,city,aqi,pm2_5,pm10,co,no2,o3,so2,nh3,ingestion_time,lat,lon,timestamp,hour,day,month,day_of_week,source
0,6988c5e41b2031decbcb0fda,Lahore,5,101.21,160.45,584.25,2.44,144.99,5.02,15.98,2026-02-08 17:20:36.503,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1,6988c6f51a0fb45bae00715b,Lahore,5,101.45,145.31,952.12,18.45,66.97,4.00,81.76,2026-02-08 17:25:09.493,31.5497,74.3436,2026-02-08 17:25:10,17.0,8.0,2.0,6.0,NaN
2,6988c7dd5420300382dd3c70,Lahore,5,208.48,245.39,1442.67,19.14,67.87,5.05,10.20,2026-02-08 17:29:01.944,31.5497,74.3436,2026-01-09 13:00:00,13.0,9.0,1.0,4.0,historical
3,6988c7dd5420300382dd3c71,Lahore,5,227.24,269.99,1621.66,22.34,55.68,5.09,10.81,2026-02-08 17:29:01.944,31.5497,74.3436,2026-01-09 14:00:00,14.0,9.0,1.0,4.0,historical
4,6988c7dd5420300382dd3c72,Lahore,5,249.66,298.87,1813.77,24.15,44.39,4.87,10.67,2026-02-08 17:29:01.944,31.5497,74.3436,2026-01-09 15:00:00,15.0,9.0,1.0,4.0,historical

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             698 non-null    object
 1   city            698 non-null    object
 2   aqi             698 non-null    int64
 3   pm2_5           698 non-null    float64
 4   pm10            698 non-null    float64
 5   co              698 non-null    float64
 6   no2             698 non-null    float64
 7   o3              698 non-null    float64
 8   so2             698 non-null    float64
 9   nh3             698 non-null    float64
 10  ingestion_time  698 non-null    datetime64[ns]
 11  lat             697 non-null    float64
 12  lon             697 non-null    float64
 13  timestamp       697 non-null    datetime64[ns]
 14  hour            697 non-null    float64
 15  day             697 non-null    float64
 16  month           697 non-null    float64
 17  day_of_week     697 non-null    float64
 18  source          696 non-null    object
dtypes: datetime64[ns](2), float64(13), int64(1), object(3)
memory usage: 103.7+ KB

In [3]:
df.describe()

,aqi,pm2_5,pm10,co,no2,o3,so2,nh3,ingestion_time,lat,lon,timestamp,hour,day,month,day_of_week
count,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698.000000,698,6.970000e+02,6.970000e+02,697,697.000000,697.000000,697.000000,697.000000
mean,4.882521,266.802564,299.870315,1677.959384,17.177163,65.276920,5.252722,18.943668,2026-02-08 17:29:00.886848256,3.154970e+01,7.434360e+01,2026-01-24 09:43:04.662840832,11.507891,15.830703,1.261119,3.177905
min,3.000000,0.000000,0.000000,221.200000,1.040000,1.680000,0.760000,0.960000,2026-02-08 17:20:36.503000,3.154970e+01,7.434360e+01,2026-01-09 13:00:00,0.000000,1.000000,1.000000,0.000000
25%,5.000000,122.097500,158.692500,1089.335000,10.717500,25.815000,2.410000,5.282500,2026-02-08 17:29:01.944000,3.154970e+01,7.434360e+01,2026-01-16 19:00:00,6.000000,8.000000,1.000000,1.000000
50%,5.000000,229.760000,263.255000,1662.070000,18.625000,53.345000,3.785000,10.815000,2026-02-08 17:29:01.944000,3.154970e+01,7.434360e+01,2026-01-24 01:00:00,12.000000,16.000000,1.000000,3.000000
75%,5.000000,385.140000,417.190000,2240.590000,23.690000,101.362500,6.700000,28.185000,2026-02-08 17:29:01.944000,3.154970e+01,7.434360e+01,2026-02-01 07:00:00,17.000000,23.000000,2.000000,5.000000
max,5.000000,785.560000,828.290000,3931.870000,35.650000,183.540000,28.710000,114.290000,2026-02-08 17:29:01.944000,3.154970e+01,7.434360e+01,2026-02-08 17:25:10,23.000000,31.000000,2.000000,6.000000
std,0.405073,168.590934,170.220006,801.873344,8.285665,46.076785,4.442742,19.625795,NaN,7.110530e-15,1.422106e-14,NaN,6.925321,8.868615,0.439560,2.032756

In [4]:
# Check missing values
df.isna().sum()

_id               0
city              0
aqi               0
pm2_5             0
pm10              0
co                0
no2               0
o3                0
so2               0
nh3               0
ingestion_time    0
lat               1
lon               1
timestamp         1
hour              1
day               1
month             1
day_of_week       1
source            2
dtype: int64